## Creating Nan

In [1]:
# creating nan value
nan = float('nan')

In [2]:
import math
math.nan is nan

In [3]:
math.isnan(nan)

In [4]:
math.isnan(math.nan)

## Hcf

In [5]:
# find highest common factor
def hcf(x,y):
    smallest = min(x,y)
    for i in range(1,smallest) :
        if x%i == 0 and y%i == 0:
            cf = i
    return cf

In [6]:
hcf(12,18)

In [7]:
hcf(54,24)

In [8]:
def hcf_em(x,y):
    while(y):
        x,y = y,x%y
        print(f'x :{x} y :{y}')

In [9]:
hcf_em(54,24)

In [10]:
hcf_em(12,18)

In [11]:
hcf_em(300,400)

## Swapping using xor

In [12]:
# swapping using xor
x = 200
y = 300

def swap(x,y):
    print(f'x: {x} y:{y}')
    x = x ^ y
    print(f'x: {x} y:{y}')
    y = x ^ y
    print(f'x: {x} y:{y}')
    x = x ^ y
    print(f'x: {x} y:{y}')
    return x,y

swap(x,y)

In [13]:
def same(x,y):
    if x ^ y:
        return False
    else:
        return True
same(1,1)

## leap year

In [14]:
def is_leap_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return True
    else:
        return False

## Prime Number

In [15]:
def prime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i == 0:
            return False
    return True

In [16]:
prime(13)

In [17]:
def prime_range(from_,to_):
    res = []
    for i in range(from_,to_+1):
        if prime(i):
            res.append(i)
    return res

In [18]:
prime_range(0,50)

## fibo

In [19]:
def fibo(limit,a=0,b=1,res=[]):
    c = a+b
    if c >limit: 
        print(res)
        return res
    res.append(c)
    fibo(a=b,b=c,res =res ,limit =limit)

In [20]:
fibo(limit = 10)

## Armstrong

In [21]:
def armstrong(n):
    order = len(str(n))
    s = 0
    temp = n
    while temp>0 :
        digit = temp%10

        s += digit**order

        temp//=10

    if n == s:
        return True
    else:
        return False

In [22]:
armstrong(54748)

In [23]:
def armstrongBtw(from_,to_):
    res = []
    for i in range(from_,to_):
        if armstrong(i):
            res.append(i)
    return res
            
armstrongBtw(1,1000)

## LCM

In [24]:
def lcm(a,b):
    greatest = max(a,b)
    cf = None
    while 1:
        if greatest%a ==0 and greatest%b ==0 :
            return greatest
        greatest +=1
    return cf

In [25]:
lcm(30,24)

## String

In [26]:
a  = str()
a

In [27]:
b = bin(10)
int(b,2)

In [28]:
bin(10)

In [29]:
hex(10)

In [30]:
ord('a')

In [31]:
import ast
def quadratics(a,b,c):
    d = b**2 - (4*a*c)
    return (-b+(d**.5))/(2*a),(-b-(d**.5))/(2*a)

In [32]:
quadratics(1,-3,2)

In [33]:
def random_binary():
    import random 
    return bin(random.randint(1,1000))

In [34]:
random_binary()
a = '{a : 1,b:2 }'

In [35]:
eval(a)

In [36]:
a = ('a','z','c')
sorted(a,reverse = True)

In [37]:
import array
array.array('b',[1,23])

In [38]:
a= []
b= []
c= 3,2
d= 4,1
zip(a,b,c,d)

In [39]:
for c,d in zip(a,b):
    print(c,d)

In [40]:
import array
a = array.array('i',[1,2])

In [41]:
a[0] = 5

In [42]:
a = {'a':1}
a.setdefault('b',2)

In [43]:
a

In [44]:
eval(a.__str__())

In [45]:
def desc():
    """hellow this is a function"""
    return 
help(desc)

## Study about Errors

In [ ]:
try:
    # Some code that may raise an exception
    1 / 0
except ZeroDivisionError:
    # Handling ZeroDivisionError
    print("Division by zero error occurred.")
    raise  # Re-raise the ZeroDivisionError

In [ ]:
raise Exception('aya')

## Tk

In [ ]:
import tkinter 
from tkinter import *
root = tkinter.Tk()
w1 = Label(root,text  = 'Red Sun',fg='red',bg='orange').pack(ipadx=100,ipady=100,fill = tkinter.X)
w2 = Label(root,text  = 'Green Grass',fg='Green',bg='black').pack(side = LEFT,fill = tkinter.X)
w3 = Label(root,text  = 'Blue Sky',fg='Blue',bg='white').pack(side=RIGHT,padx=100,pady=100,fill = tkinter.X)
root.mainloop()

In [ ]:
root = tkinter.Tk()

def leftClick(event):
    print(f'Clicked at {event.x} {event.y}')
def rightClick(event):
    print(f'RClicked at {event.x} {event.y}')

frame = Frame(root,height = 300,width=300,bg='Green')
label = Label(root,text = 'CLICK',width=50)
frame.pack()
frame.bind("<Button-1>",leftClick)
frame.bind("<Button-3>",rightClick)
label.pack()
root.mainloop()

In [ ]:
class zeroError(Exception):
    def __init__(self):
        print('Zero cannot be divided')

In [ ]:
raise zeroError