# P1

```Write a program to create a list. Reverse the list without using any function. Store index andelements in two separate lists. Replace 2 nd to 5 th index items with new items```

In [1]:
def create_list(n):
    l = []
    for _ in range(n):
        l.append(int(input()))
    return l

In [60]:
mylist = create_list(6)

 1
 2
 3
 4
 5
 6

In [32]:
def rev(lis_):
    l = len(lis_)-1
    n = []
    for i in range(l,-1,-1):
        n.append(lis_[i])
    return n

In [33]:
rev(mylist)

[5, 4, 3, 2, 1]

In [48]:
a = [[x,y] for x,y in enumerate(mylist)]

In [49]:
a

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [35]:
[y for x,y in enumerate(mylist)]

[1, 2, 3, 4, 5]

In [53]:
from random import randint

In [65]:
for i in range(2,6):
    mylist[i] = randint(0,10)

In [66]:
mylist

[1, 2, 10, 4, 10, 1]

# P2

```Write a program to receive a sequence of comma-separated 10 letters as string from user andgenerate a list and a tuple which contains all letters. Take 2 nd index item from the list to a variable byremoving that item from the list. Add this removed element to 5 th index without deleting any otheritems. Replace 8 th to 10 th elements with new letters. Then, we have to find how many charactersneed to be removed from both the sequences so that they become anagrams of each other. Writethis program using function.```

In [81]:
def list_tuple():
    input1 = input()
    r = input1.split(',')
    return r,tuple(r)

In [83]:
mylist = list_tuple()

 1,2,3

In [85]:
a = mylist[0].pop(2)

In [86]:
a

'3'

In [128]:
def anagram(str1,str2):
    idx1 ,idx2,idx3 = 0,0,0
    count = 0
    str1 = [x for x in str1]
    str2 = [x for x in str2]
    str1.sort()
    str2.sort()
    l_str1 = len(str1)
    l_str2 = len(str2)
    if max(l_str1,l_str2) == len(str1):
        l = str1
        s = str2 
    else :
        l = str2
        s = str1
    print(str1,str2)
    while idx1 < len(s):
        print(idx1,idx2,idx3)
        if idx2 >= len(l) :
            idx1 +=1
            idx2 = idx3
        elif l[idx2] == s[idx1]:
            count += 1
            idx1+=1  
            idx3 = idx2+1
            print(count)
        elif s[idx1] < l[idx2]:
            idx1+=1
        
        idx2+=1
        
    return len(l)-count,len(s)-count

In [140]:
anagram('adfadfajdfkljaldfj','adsfljadfjadlkfjasdjflkjasdfl')

['a', 'a', 'a', 'a', 'd', 'd', 'd', 'd', 'f', 'f', 'f', 'f', 'j', 'j', 'j', 'k', 'l', 'l'] ['a', 'a', 'a', 'a', 'a', 'd', 'd', 'd', 'd', 'd', 'f', 'f', 'f', 'f', 'f', 'j', 'j', 'j', 'j', 'j', 'k', 'k', 'l', 'l', 'l', 'l', 's', 's', 's']
0 0 0
1
1 1 1
2
2 2 2
3
3 3 3
4
4 4 4
4 5 4
5
5 6 6
6
6 7 7
7
7 8 8
8
8 9 9
8 10 9
9
9 11 11
10
10 12 12
11
11 13 13
12
12 14 14
12 15 14
13
13 16 16
14
14 17 17
15
15 18 18
15 19 18
15 20 18
16
16 21 21
16 22 21
17
17 23 23
18

(11, 0)

In [130]:
def count_removed_chars_for_anagram(str1, str2):
    char_count = {}  # Dictionary to store character frequencies

    # Count characters in str1
    for char in str1:
        char_count[char] = char_count.get(char, 0) + 1

    # Count characters in str2 and update char_count
    for char in str2:
        char_count[char] = char_count.get(char, 0) - 1

    # Calculate the total number of characters to be removed
    removed_chars_count = sum(abs(freq) for freq in char_count.values())

    return removed_chars_count

In [139]:
count_removed_chars_for_anagram('adfadfajdfkljaldfj','adsfljadfjadlkfjasdjflkjasdfl')

11

# P3

```Create two classes ‘person’ and ‘details’. ‘person’ should be base class and ‘details’ should be child class. ‘person’ class should initialize name, age, email, phone. ‘details’ class should also initialize name, age, email, phone, gender. Create functions for all variables initialized inside person class in person class itself. These functions should be inside the person class and should return value of variables. Create another function inside details class which should return a sentence made by calling above mentioned functions.```

In [171]:
class Person:
    def __init__(self,name,age,email,phone,gender):
        self.name = name
        self.age = age
        self.email = email
        self.phone = phone
        self.gender = gender
    def get_name(self):
        return self.name
    def get_age(self):
        return self.age
    def get_email(self):
        return self.email
    def get_phone(self):
        return self.phone
    def get_gender(self):
        return self.age

        

class Details(Person):
    def __init__(self,name,age,email,phone,gender):
        super().__init__(name,age,email,phone,gender)
    def display(self):
        return 'hi '+super().get_name()

In [173]:
me = Details('Rahman',25,'rahman@gmail.com','9633754327','Male')

In [174]:
me.display()

'hi Rahman'

# P4

```D = square root of [ (2*a*b)/c ] ‘a’ and ‘c’ are fixed values. ‘a’ is 50 and ‘c’ is 30. ‘b’ is an integer that has been taken from a list. The list is created by user input. Check 0 th index item with 1 st index item. If 0 th index item is less than 1 st index item, check their sum can be divided exactly by 5. Then check 1 st and 2 nd index items and so on. If there is any, take the left index item and put into the formula and find the result. Do this program using function.```

In [133]:
import math
from random import randint
def findX(a,c):
    size_ = 1000
    l = [randint(1,10) for _ in range(size_) ]
    idx0 = 0
    idx1 = idx0+1
    while idx1 < size_:
        if l[idx0] < l[idx1] :
            if (l[idx0] + l[idx1]) % 5 == 0:
                b = l[idx0]
                
                print(b,l[idx0])
                sol = math.sqrt((2*a*b)/c)
                print(sol)
                return sol
      
        idx0 +=1
        idx1 +=1
    return None

In [134]:
findX(2,3)

5 5
2.581988897471611

2.581988897471611